transformers
transformers[sentencepiece]
datasets
rouge_score
py7zr
pandas
nItk
PyYAML
torch
notebook
boto3
mypy-boto3-s3
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
fastapi==0.109.1
uvicorn==0.18.3
Jinja2==3.1.4
-e .
aiohttp>=3.9.4 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.27.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability